.clearfix::before , .clearfix::after{
    content : "";
    display: block;
}
.clearfix::after{
    clear: both;
}

*{
   margin: 0px; 
   padding: 0;
   box-sizing: border-box;
}

header{
    /* border: 2px solid black; */
    background-color: #c15355;
    height: 60px;
    color: white;
    position: sticky;
    top: 0px;
}

#header_assignment{
  /* border: 2px solid blue; */
  float: left;
  font-size: x-large;
  padding-left: 70px;
  padding-top: 18px;
  margin-right: 700px;
}

.header_home_blog_about{
   float: left;
   padding-right: 60px;
   padding-top: 22px;
   font-size: larger;
   font-weight: lighter;
}

#fsd_lorem7{
    /* border: 2px solid black; */
    text-align: center;
    font-size: 25px;
    padding-top: 70px;
    padding-bottom: 100px;   
    background-color: #c15355;
    color: white;
}

#fsd{
    font-size: 60px; 
}

#lorem7{
    font-size: 16px;
}

/* css of white background containing details, below header */
#article{
    /* background-color: aqua; */
    width: 100%;
}
.section_part1{
    /* background-color: aqua; */
    /* border: 1px solid black; */
    width: 22%; 
    margin: 40px 20px 40px 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 15%;
    margin-right: 1%;
    
    float: left;
}
.section_part2{
    /* background-color: aqua; */
    width: 22%;
    /* margin: 40px 20px 40px 20px; */
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}

.section_part3{
    /* background-color: aqua; */
    width: 22%;
    /* margin: 40px 100px 40px 20px; */
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 1%;
    margin-right: 15%;
    float: left;    
}

.lorem6{
    padding: 15px 35px;
    color: #c15355;
    /* background-color: yellow; */
}
.lorem18{
    padding: 15px 35px;
    text-align: justify;
    /* background-color: tomato; */
}
.btn_div{
    padding: 5px 35px;
    /* background-color: blue; */
}

.btn{
    padding: 3px 5px;
    margin-top: 10px;
    font-size: 18px;
    color: white;
    background-color:#c15355;
    border: none;
}

/* red background including cards section */
.img{
    /* border: 2px solid blue; */
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 15px;
}

#main_section{
    background-color: #c15355;
}
#section1{
    width: 100%;
    text-align: center;
    padding-top: 30px;
}
#section1 h1{
    font-size: 36px;
    color: white;    
}
#section1 p{
    font-size: 15px;
    color: white;    
}

#section2{
    width: 65%;
    /* background-color: blue; */
    /* border: 2px solid blue; */
    margin:auto;
    margin-bottom: 15px;
    margin-top: 30px;
}

.fieldset_size1{
    /* width:10%; */
    height: 250px;
    text-align: center;
   float: left;
   margin-top: 40px;
   margin-bottom: 60px;
   margin: 2%;
   background-color:#c15355;
   color: white;
   position:relative;
   
}
.fieldset_size2{
    /* width:10%; */
    height: 250px;
    text-align: center;
    float: left;
    margin-top: 40px;
    margin-bottom: 60px;
    margin: 2%;
    background-color:#c15355;
    color: white;
    position:relative;
}
.fieldset_size3{
    /* width:10%; */
    height: 250px;
    text-align: center;
    float: left;
    margin-top: 40px;
    margin-bottom: 60px;
    margin: 2%;
    background-color:#c15355;
    color: white;
    position:relative;
}
.fieldset_size4{
    width:10%;
    height: 250px;
    text-align: center;
    float: right;
    margin-top: 40px;
    margin-bottom: 60px;
    margin: 2%;
    background-color:#c15355;
    color: white;
    position:relative;
}

.logo{
    position: absolute;
    bottom: -15px;
    right: -15px;  
}

.logo img{
    height: 35px;
    background-color: white;
    padding: 7px;
    border-radius: 3px;
}


/* footer section */
#footer1{
    text-align: center;
}

.bottom_img1{
    margin-left: 16%;
    margin-right: 100px;
}



#section1_footer1{
    margin:60px;
    color: #c15355;
}
#section1_footer1 h1{
    font-size: 36px;
}
#section1_footer1 p{
    font-size: 14px;
}

.bottom_img1, .bottom_img2{
    float: left;
    width: 30%; 
    margin-bottom: 20px; 
    /* border: 2px solid blue; */
}

.bottom_img1 img, .bottom_img2 img{
    width: 100%;
}
.bottom_img1 h3, .bottom_img2 h3{
     color: #c15355;
     text-align: left;
}
.bottom_img1 p, .bottom_img2 p{
    text-align: left;
}

.btn2{
    margin-right: 360px;
    margin-top: 10px;
   
    font-size: 18px;
    color: white;
    background-color:#c15355;
    border: none;
    padding: 7px;
}




#footer2{
    /* background-color: aqua; */
    padding: 20px;
    
}
#ul{ 
    list-style: none;   
}

#aircampus{
    padding-left: 50px;
    float: left;
    font-size: 20px;
}
.fa-brands{
    padding-right: 20px;
    float: right;
    color: #c15355;
}

/* css for arrow */
.arrow{
    border: 1px solid #c15355;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    position: fixed;
    bottom: 100px;
    right: 30px;
}










